<div class="col-md-6 col-md-offset-3 col-xs-12 container">
  <div class="center card-servicos">
    <br>
    <h1>Serviços</h1>
    <br>
    <a class="btn btn-verde click-modal" name="Serviço" data-toggle="modal" data-target="#modal-service">Detalhes</a>
    <div class="modal fade" id="modal-service">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
              <h4 class="modal-title">Serviço</h4>
          </div>
          <div class="modal-body text-left">
            <strong>Descrição:<br>
            <strong>Valor:<br>
            <strong>Duração:<br>
            <strong>Dia:</strong><br>
            <strong>Hora:</strong>
          </div>
          <div class="center">
            <%= link_to 'Adquirir', temp_path, class: 'btn btn-verde' %>
          </div>
      </div>
    </div>
  </div>
</div>
