<div class="row">
  <div class="col-xs-12">    
  </div>

  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <h1>Cadastro</h1>
    <%= render 'form', normal_user: @normal_user %>

    
  </div>
</div>