<%= render "layouts/header" %>

<div>

  

	<div id="logo-login" class="row">
		<%= image_tag "logo.png",
        :alt => "Descricao img",
        :width => "150px",
        :height => "150px" %>
	</div>

	<div class="row">
		<h3 class="nome-app">Iggle</h3>
		
	</div>
  
    
	<br><br><br><br><br><br>
		<h3 class="center">Entre como:</h3> 
    <div class="center">
		     			
    	<%= link_to 'Cliente', login_cliente_path, class: 'btn btn-verde' %>
    <div>

    <div class="center">
    	<%= link_to 'Profissional', login_profissional_path, class: 'btn btn-cinza' %>
    </div>

</div>