<div class="container"
<div class="row">
  <div class="col-xs-12">
  </div>

  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <h3 class='center'> Suporte </h3>
    <%= render 'form', contact: @contact %>
  </div>
</div>
