<div class="jumbotron">
  <h1>IGGLE</h1>
  <p>
  Crie sua nova conta
  </p>
  <p>
    <%= link_to 'Profissional', cadastro_profissional_path , class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Cliente', cadastro_cliente_path , class: 'btn btn-primary btn-lg' %>
  </p>
</div>