<div class="col-md-6 col-md-offset-3 col-xs-12 container">
  <h3>Endereço</h3>
  <%= render 'form', address: @address %>
  <div class='center'>
    <%= link_to 'Voltar', addresses_path %>
  </div>
</div>
