<div class="col-md-6 col-md-offset-3 col-xs-12 container">
  <h3>Novo endereço</h3>
  <%= form_with(model: @address, local: true) do |form| %>
    <%= render 'form', address: @address, form: form %>

    <div class="actions">
      <div class="center">
        <%= form.submit 'Adicionar', class: 'btn btn-verde', name: 'Salvar' %>
      </div>

      <div class='center'>
        <%= link_to 'Voltar', addresses_path, class: 'btn btn-cinza' %>
      </div>
    </div>

<% end %>
</div>
